blinker
Bootstrap-Flask
click
colorama
Flask
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
typing_extensions
Werkzeug
WTForms
python-dotenv